.App {
  font-family: sans-serif;
  text-align: center;
}

img {
  width: 260px;
  margin-bottom: 30px;
}

ul {
  display:grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 600px;
  list-style: none;
}

li {
  margin: 8px 0;
}

h1 {
  font-weight: bold;
  margin-bottom: 15px;
  width: 330px;
}

h4 {
  display: inline-block;
  margin-right: 10px;
}

button {
  border-radius: 12px;
  background-color: blue;
  color: white;
  width: 215px;
  height: 33px;
  margin-right: 20px;
  font-weight: 550;
}

.item-name {
  font-weight: 600;
  font-family: sans-serif;
  height: 20px;
}

.auto-width {
  width: max-content;
}

.price-container {
  margin-top: -25px;
}
.price {
  display: inline-block;
  width: 30px;
}

.done {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

.strike {
  text-decoration: line-through;
}

.sale {
  color: red;
}

input {
  margin-right: 5px;
}
