.App {
  font-family: sans-serif;
  text-align: center;
}

h2 {
  padding: 20px;
}

img {
  width: 260px;
  margin-bottom: 30px;
}

ul {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 600px;
  list-style: none;
}

li {
  margin: 8px 0;
}

button {
  border-radius: 12px;
  background-color: blue;
  color: white;
  width: 215px;
  height: 33px;
  margin-right: 20px;
  font-weight: 550;
}

.disabled-button {
  background-color: rgb(129, 129, 129);
  opacity: 0.3;
}

.enabled-button {
  background-color: blue;
  opacity: 1;
}

a:link {
  color: rgb(178 178 178);
  text-decoration: none;
}

.nav {
  width: 1720px;
  margin-bottom: 0px;
}
.header {
  background-image: url(https://developer.adobe.com/graphql-mesh-gateway/static/d196a8cfb9d567947b40b894f4a86e65/fab06/home-bg.webp);
  color: white;
  height: 125px;
  width: 900px;
}

.sub-header {
  color: lightblue;
  font-size: medium;
  float: right;
}

.item-name {
  font-weight: 600;
  font-family: sans-serif;
  height: 20px;
}

.auto-width {
  width: max-content;
}

.price-container {
  margin-top: -25px;
}

.price {
  display: inline-block;
  width: 30px;
}

.done {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

.strike {
  text-decoration: line-through;
  margin-right: 25px;
}

.sale {
  color: red;
}

input {
  margin-right: 5px;
}

.code-sidebar {
  background-color: black;
  color: white;
  width: 500px;
  height: 900px;
  overflow: scroll;
  margin-right: 20px;
}

.results {
  display: flex;
  justify-content: space-between;
}

.code-toggle {
  color: #ff0000;
  font-size: large;
  cursor: pointer;
  float: right;
  margin: 10px 10px;
}
